/* Estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lobster', cursive;
  background-color: #e60000; /* Color rojo Coca-Cola */
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.container {
  margin-top: 50px;
}

.title {
  font-size: 80px;
  letter-spacing: 5px;
  font-weight: bold;
  color: #f1f1f1;
}

.message {
  font-size: 30px;
  color: #f1f1f1;
}

.footer {
  margin-top: 50px;
  font-size: 18px;
  color: white;
}

.footer p {
  line-height: 1.5;
  font-weight: normal;
}

.btn {
  display: inline-block;
  background-color: #f1f1f1;
  color: #e60000;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #e60000;
  color: white;
}
